.photos-component {
  display: flex;
  flex-direction: column;
}

.upload-component {
  background-color: whitesmoke;
  width: 400px;
  margin: 2em auto;
  padding: 2em;
  min-height: 200px;
  display: flex;
  flex: 1 1 auto;
}

.photos-list-component {
  border: 1px dashed grey;
  background: whitesmoke;
  padding: 1em;
  min-height: 150px;
  min-width: 200px;
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.upload-wrapper {
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  position: relative;
}
.upload-label {
  place-items: center;
  text-align: center;
  border: 1px solid grey;
  background-color: gainsboro;
  color: #000;
  border-radius: 1.5em;
  flex: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.upload-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  width: 110px;
  height: 110px;
  /* border: 1px solid #000; */
  background: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0em 0.2em 0.5em 0.2em gainsboro;
  margin: 1em;
  display: inline-block;
  position: relative;
}
.item-img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}
.items-list {
  overflow: auto;
  display: flex;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.item-remove {
  width: 2em;
  height: 2em;
  padding: 0;
  border-radius: 1em;
  font-size: 12px;
  background: dimgray;
  border: 0px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -0.5em -0.5em 0 0;
}
.item-remove:focus {
  outline:none;
}
